canvas.vrm {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}
div.bgimg {
    position: absolute;
    background-size: cover;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    z-index: -2;
}
div.systembox {
    position: absolute;
    top: 5px;
    left: 7px;
    z-index: 3;
}
div.alertbox {
    position: absolute;
    bottom: 7px;
    left: 12px;
    z-index: 4;
    display: none;
}
div.loadbox {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #ffff;
}
div.effectkey {
    color: #fff;
    cursor: pointer;
    user-select: none;
    background-color: #000a;
    padding-left: 16px;
}
div.confkey {
    color: #fff;
    cursor: pointer;
    user-select: none;
    background-color: #000a;
    padding-left: 16px;
}
text.systemtext {
    color: #FFFFFF00;
    position: absolute;
    top: 5px;
    left: 50px;
    font-family: sans-serif;
    font-size: 28px;
    cursor: pointer;
    user-select: none;
}
text.alerttext {
    color: #FFFFFFFF;
    background-color: #00000088;
    position: absolute;
    bottom: 35px;
    left: 5px;
    width: 256px;
    height: 128px;
    font-family: sans-serif;
    font-size: 16px;
    user-select: none;
}
text.loading {
    position: absolute;
    top: 5px;
    left: 50px;
    font-family: sans-serif;
    font-size: 28px;
    user-select: none;
}
span {
    position: absolute;
    left: -10px;
    font-family: sans-serif;
    font-size: 16px;
    width: 250px;
    z-index: 5;
}
div.vrm {
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -1;
}